Repository rajjoseph48/dbt_ci_test, changes with the owners that CODEOWNERS names for each.
All owners: @data-team, @analytics-team, @devops-team, @senior-data-engineers

dummy commit
  models/marts/fct_orders.sql
Owners: @data-team, @analytics-team

made changes to the repo CI workflow
  .github/workflows/dbt_ci.yml
  CI_WORKFLOW_EXPLAINED.md
  GITHUB_SETUP.md
  LOCAL_PROD_TESTING.md
  profiles.yml
  test_profiles.py
  validate_prod.bat
Owners: @data-team, @devops-team, @senior-data-engineers

fixed sql link issue
  .github/workflows/dbt_ci.yml
  .sqlfluff
  test_profiles.py
Owners: @data-team, @devops-team

further fixes
  .github/workflows/dbt_ci.yml
  .sqlfluff.ci
Owners: @data-team, @devops-team

removed sql lint job from CI workflow
  .github/workflows/dbt_ci.yml
  .sqlfluff.ci
  GITHUB_SETUP.md
Owners: @data-team, @devops-team

fixed CI version issue
  .github/workflows/dbt_ci.yml
  .github/workflows/dbt_production.yml
Owners: @data-team, @devops-team

updated ci file
  .github/workflows/dbt_ci.yml
  STATE_AWARE_CI.md
Owners: @data-team, @devops-team

ci fix
  .github/workflows/dbt_ci.yml
  GIT_BASED_STATE_COMPARISON.md
Owners: @data-team, @devops-team

CI job and fact_orders updated
  .github/workflows/dbt_ci.yml
  PR_REVIEW_LOGS.md
  models/marts/fct_orders.sql
Owners: @data-team, @devops-team, @analytics-team

updated ci job
  .github/workflows/dbt_ci.yml
Owners: @data-team, @devops-team

Updated CI
  .github/workflows/dbt_ci.yml
Owners: @data-team, @devops-team

updated CI
  .github/workflows/dbt_ci.yml
Owners: @data-team, @devops-team

updated CI job
  .github/workflows/dbt_ci.yml
Owners: @data-team, @devops-team

CI fix
  .github/workflows/dbt_ci.yml
Owners: @data-team, @devops-team

CI fix 2
  .github/workflows/dbt_ci.yml
Owners: @data-team, @devops-team

dbt tests CI fix
  .github/workflows/dbt_ci.yml
Owners: @data-team, @devops-team

test with customers
  models/marts/dim_customers.sql
Owners: @data-team, @analytics-team

updated dim_customers
  .github/workflows/dbt_ci.yml
  models/marts/dim_customers.sql
Owners: @data-team, @devops-team, @analytics-team

Added locations models
  models/marts/dim_locations.sql
  models/staging/stg_locations.sql
  seeds/raw_locations.csv
Owners: @data-team, @analytics-team

added documentation files
  .github/workflows/dbt_ci.yml
  models/intermediate/_intermediate__models.yml
  models/marts/_marts__models.yml
  models/staging/_staging__models.yml
Owners: @data-team, @devops-team, @analytics-team

fixed issues in tests CI
  .github/workflows/dbt_ci.yml
Owners: @data-team, @devops-team

deleted a schema.yml
  .github/workflows/dbt_ci.yml
  models/marts/schema.yml
Owners: @data-team, @devops-team, @analytics-team

removed staging schema.yml
  models/staging/schema.yml
Owners: @data-team, @analytics-team

CI job changes
  .github/workflows/dbt_ci.yml
Owners: @data-team, @devops-team

updated gitignore
  .gitignore
  package-lock.yml
Owners: @data-team

updated schema files
  models/marts/schema.yml
  models/staging/schema.yml
Owners: @data-team, @analytics-team

deleted schema.yml duplicate files
  models/marts/schema.yml
  models/staging/schema.yml
Owners: @data-team, @analytics-team

updated CI job - removed unnecessary comments
  .github/workflows/dbt_ci.yml
  models/intermediate/_intermediate__models.yml
  models/marts/_marts__models.yml
  models/staging/_staging__models.yml
Owners: @data-team, @devops-team, @analytics-team

updated stg_locations
  models/staging/stg_locations.sql
Owners: @data-team, @analytics-team

updated CI workflow
  .github/workflows/dbt_ci.yml
Owners: @data-team, @devops-team

CODEOWNERS:

# Global code owners - all files require review from data team
* @data-team

# dbt models require additional review from analytics team
models/ @data-team @analytics-team

# CI/CD changes require DevOps review
.github/ @data-team @devops-team

# Production deployment files need senior review
dbt_project.yml @senior-data-engineers
profiles.yml @senior-data-engineers
